.cart-item{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $rose-100;

    &-content{
        display: flex;
        flex-direction: column;
        row-gap: .75rem;
        padding-block: 1.5rem;
    }
    &-action{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .title{
        font-weight: $fw-bold;
        color: $rose-900;
    }
    &-price{
        .quantity{
            color: $red;
            font-weight: $fw-bold;
            margin-right: 2rem;
        }
        .price{
            color: $rose-300;
            margin-right: .8rem;
        }
        .total{
            color: $rose-400;
            font-weight: $fw-semi-bold;
        }
    }
}
