.cart{
    background-color: #fff;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    height: max-content;
    h2{
        font-size: 1.5rem;
        font-weight: $fw-bold;
        margin-bottom: 1.5rem;
        color: $red;
    }
    .cart-total{
        .total-price{
            text-transform: capitalize;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-block: 1.5rem;
            color: $rose-400;
            .price{
                 font-size: 1.5rem;
                 font-weight: $fw-bold;
                 color: $rose-900;
            }
        }
    }
    .shipping{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: .5rem;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        background-color: $rose-50;
        p{
            span{
                font-weight: $fw-semi-bold;
                color: $rose-900;
            }
        }
       
    }
    .checkout{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .empty{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1.5rem;
        color: $rose-500;
    }
}
// tablet & desktop
@media  screen and (min-width:600px) {
    .cart{
       width: 385px;
    }
}