@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

$fs-large:3rem;
$fs-medium:2rem;
$fs-small:1.5rem;
$fw-regular:400;
$fw-semi-bold:600;
$fw-bold:700;

